body {
    background-color: lavender;
    font-family: monospace;
    width: 75%;
}

header {
    width: 75%;
    background-color: skyblue;
}


@media screen and (max-width: 500px) {
    #reviews {
        display: none;
    }
}